@import "/libs/selectize";

@import "~@piratesatelier/css-ordinary/src/scss/config";
@import "~@piratesatelier/css-ordinary/src/scss/custom";

@import "/variables";

@import "/components/tag.scss";
@import "/components/single";
@import "/components/card";

@import "/log/style";

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&subset=latin-ext');

.modal {
	z-index: 6;
}

body > header {

	padding: 2em 2em .5em 2em;

	@include breakpoint(lg) {
		padding: 2em 8em .5em 8em;
	}
}
